extends ..\layout

block content
  .table-responsive
    table.table.table-hover
      thead
        tr
          th Name
          th Players
          th Location
          th Level
          th Actions
      tbody
        each team in teams
          tr
            td #{team.name}
            td #{team.players.length}
            td #{team.city}
            td #{team.level}
            td 
              a(href='/teams/edit/#{team.id}')
                span.glyphicon.glyphicon-edit
  a.pull-right(href='/teams/new')
    span.btn.btn-primary  Add Team
    
